<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{% block title %}{% endblock title %}</title>

  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'frontend/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'frontend/global.css' %}" />
  <link rel="stylesheet" href="{% static 'frontend/main.css' %}" />
  <script defer src="{% static 'frontend/main.js' %}"></script>
</head>

<body>
</body>

</html>
